# Dependencies
/node_modules
/.pnp
.pnp.*

# Yarn 2+ / pnpm
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
/coverage

# Next.js
/.next/
/out/

# Production build
/build

# Misc
*.pem
.DS_Store
.AppleDouble
.LSOverride

# Debug cache
.pnpm-debug.log*
.cache/
.tmp/
.temp/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDEs & Editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Remote share (AFP)
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dotenv (keep examples only)
.env*
!.env.example
!*.env.*.example

# Custom (user-defined)
/app/metadata.ts
/output
/documentation
/doc
deploy.sh
test-report.xml
*log.txt
